/* Fondo de la página */
body {
  background-image: url('../assets/img/paginaweb/fondoweb.png'); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Centrar el logo */
#logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Asegura que quede por encima */
}

/* Nombre del equipo */
#equipo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Contenedor del juego */
#juego-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 1860px; /* Tamaño reducido */
  height: 1296px; /* Tamaño reducido */
  border: 5px solid rgb(202, 202, 42); /* Borde opcional */
  
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente opcional */
}

/* Pantalla del juego más pequeña y centrada */
#juego {
  /* width: 80%; /*Tamaño reducido */
  /* height: auto; */
  width: 1860px; /* Tamaño reducido */
  height: 1296px; /* Tamaño reducido */
  
  display: flex;
  justify-content: center;
  align-items: center;
}