/* Fondo de la página */
body {
  background-image: url('../assets/img/paginaweb/fondoweb.png'); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Centrar el logo */
#logo {
  margin-top: 20px;
}

/* Nombre del equipo */
#equipo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Contenedor del juego */
#juego-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh; /* Ajusta según el tamaño del juego */
}

/* Pantalla del juego más pequeña y centrada */
#juego {
  /* width: 80%; /*Tamaño reducido */
  /* height: auto; */
  width: 1860px; /* Tamaño reducido */
  height: 1096px; /* Tamaño reducido */
  border: 2px solid #ff69b4; /* Borde opcional */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente opcional */
  display: flex;
  justify-content: center;
  align-items: center;
}
